# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
.idea/
authentication/taget/
authentication/authentication.iml
feign/target/
feign/feign.iml
gateway/target/
gateway/gateway.iml
vampire.iml
